header.header {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  background-color: $header-color;

  h1.title {
    margin: 0;
    text-align: center;
  }

  input[type='text'] {
    // We have to remove 8px of width to the input in order to fill all its parent's width
    width: calc(100% - 8px);
  }

  button {
    width: 100%;
  }

  .search-engine {
    margin-top: 1rem;
  }

  .radio-buttons-container {
    display: flex;
  }

  .input-wrapper,
  .search-button-wrapper {
    margin-top: 0.2rem;
  }

  .radio-button-wrapper {
    width: 80px;

    label {
      display: flex;
      width: 100%;
      text-transform: capitalize;
    }

    label:hover {
      cursor: pointer;
      background-color: $header-darken-color;
      border-radius: 2px;
    }

    input[name='option'] {
      background-color: red;
    }
  }
}

@media screen and (min-width: 600px) {
  .input-button-group {
    display: flex;

    .input-wrapper {
      flex-grow: 1;
      margin-right: 0.3rem;
    }

    .search-button-wrapper {
      width: 200px;
    }
  }
}
