@import 'variables';

// Components
@import './components/header';
@import './components/Main/main';
@import './components/Main/resultContainer';
@import './components/Main/resultByInformationType';
@import './components/Main/card';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input[type='text'] {
  height: 1.5rem;
}

button {
  height: calc(1.5rem + 6px);
}

// This class determines the max-width value that the page can has before stop growing
.main-frame {
  // The actual .main-frame's max-width value will be 1264 + 8 + 8 = 1280px
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 0.5rem;
  overflow: hidden;
}

.cards-container {
}

.card {
  margin-top: 1rem;
  border-radius: 3px;
  background-color: whitesmoke;

  .card-title {
    text-transform: capitalize;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(204, 200, 200);
    color: black;

    h4 {
      padding: 0.1rem;
      margin: 0;
    }
  }

  .card-content {
    padding: 0.5rem;
    max-width: 600px;
    text-align: justify;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-top: 0.5rem;

        .key {
          text-transform: capitalize;
          // color: #9ef01a;
        }
      }
    }
  }
}
