@import 'variables';

// Components
@import './components/header';
@import './components/Main/main';
@import './components/Main/resultContainer';
@import './components/Main/resultByInformationType';
@import './components/Main/card';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input[type='text'] {
  height: 1.5rem;
}

button {
  height: calc(1.5rem + 6px);
}

// This class determines the max-width value that the page can has before stop growing
.main-frame {
  // The actual .main-frame's max-width value will be 1264 + 8 + 8 = 1280px
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 0.5rem;
  overflow: hidden;
}

.cards-container {
}

.card {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 3px;

  background-color: whitesmoke;

  .card-content {
    max-width: 600px;
    text-align: justify;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
