.card {
  margin-top: 1rem;
  border-radius: 3px;
  background-color: whitesmoke;

  .card-title {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.5rem;
    border-radius: 3px;
    text-transform: capitalize;

    // background-color: rgb(204, 200, 200);
    background-color: $lighten-header-color;

    h4 {
      padding: 0.1rem;
      margin: 0;
    }
  }

  .card-content {
    padding: 0.5rem;
    max-width: 600px;

    ul.whole-item {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-top: 0.5rem;

        .key {
          text-transform: capitalize;
        }

        .value {
          text-align: justify;

          ul {
            list-style: none;

            li {
              span.name {
                font-weight: 500;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }

  table {
    width: 100%;

    th {
      background-color: #eaecea;
      border-radius: 3px;
    }

    th,
    td {
      text-align: center;
    }
  }
}
