div.main-container {
  min-height: 90vh;

  h4.result {
    margin: 0.5rem 0;
    text-decoration: underline;
    color: gray;
    text-transform: capitalize;
  }

  .no-results {
    padding-top: 3rem;
    position: absolute;
    z-index: -1;
  }
}
